.content {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 549px) {
    .header__logo {
        height: 48px;
        margin-right: 0.5em;
    }
    .header__title {
        margin-left: 0;
        font-size: 2em;
        vertical-align: bottom;
    }
    .header__menu {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 1em;
    }
    .header__menu svg {
        width: 32px;
        fill: #E0E0E0;
    }
}

@media screen and (min-width: 550px) {

}

@media screen and (min-width: 700px) {

}

@media screen and (min-width: 850px) {

}