body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 550px) {
    .red {
        order: 5;
    }
    .yellow {
        order: 4;
    }
    .blue {
        order: 3;
    }
    .green {
        order: 2;
    }
    .purple {
        order: 1;
    }
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 300px;
    height: 100px;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.purple {
    background: purple;
}