body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 550px) {
}

.item {
    height: 100px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    order: 1;
    background: gray;
}

.footer {
    width: 100%;
    order: 7;
    background: darkgray;
}

.red {
    width: 33.33%;
    background: red;
    order: 2;
}

.yellow {
    width: 33.33%;
    background: yellow;
    order: 3;
}

.blue {
    width: 33.33%;
    background: blue;
    order: 4;
}

.green {
    width: 50%;
    background: green;
    order: 5;
}

.purple {
    width: 50%;
    background: purple;
    order: 6;
}